@font-face {
  font-family: 'iconfont'; /* Project id 2876703 */
  src:
    url('iconfont.woff2?t=1711184913383') format('woff2'),
    url('iconfont.woff?t=1711184913383') format('woff'),
    url('iconfont.ttf?t=1711184913383') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qinghai-chuneng:before {
  content: '\e67c';
}

.icon-qinghai-haoreliang:before {
  content: '\e67d';
}

.icon-qinghai-yueduguzhangshuai:before {
  content: '\e67e';
}

.icon-qinghai-zonglan:before {
  content: '\e67f';
}

.icon-qinghai-renwutongji:before {
  content: '\e680';
}

.icon-qinghai-liyongxiaoshipaiming:before {
  content: '\e681';
}

.icon-qinghai-channengshujufenxi:before {
  content: '\e682';
}

.icon-qinghai-keliyongshuai:before {
  content: '\e683';
}

.icon-qinghai-shishizhibiao:before {
  content: '\e684';
}

.icon-qinghai-gaofengxianzuoye:before {
  content: '\e685';
}

.icon-qinghai-yunhangzhuangtaifenxi:before {
  content: '\e686';
}

.icon-qinghai-yueduyujing:before {
  content: '\e687';
}

.icon-qinghai-gongre:before {
  content: '\e688';
}

.icon-qinghai-haoshuiliang:before {
  content: '\e689';
}

.icon-qinghai-bianjiefanghu:before {
  content: '\e68a';
}

.icon-qinghai-shengchanshuju:before {
  content: '\e68b';
}

.icon-qinghai-shuilunji:before {
  content: '\e68c';
}

.icon-qinghai-fengjiyunhangzhuangtai:before {
  content: '\e68d';
}

.icon-qinghai-shuidian:before {
  content: '\e68e';
}

.icon-qinghai-chunenggaikuang:before {
  content: '\e68f';
}

.icon-qinghai-shengchanguanli:before {
  content: '\e690';
}

.icon-qinghai-fengdian:before {
  content: '\e691';
}

.icon-yuedu:before {
  content: '\e679';
}

.icon-nengxiaoguanli:before {
  content: '\e67b';
}

.icon-baojingguanli1:before {
  content: '\e677';
}

.icon-yunweiguanli:before {
  content: '\e678';
}

.icon-tingjiguanli:before {
  content: '\e67a';
}

.icon-shengchanguanli1:before {
  content: '\e676';
}

.icon-biandianzhan-copy:before {
  content: '\e7fe';
}

.icon-guangfuzujianshuliang:before {
  content: '\e7fd';
}

.icon-huodian:before {
  content: '\e675';
}

.icon-huiliuxiang:before {
  content: '\e673';
}

.icon-nibianqi:before {
  content: '\e674';
}

.icon-xiangbian:before {
  content: '\e672';
}

.icon-quanping0:before {
  content: '\e670';
}

.icon-quanping1:before {
  content: '\e671';
}

.icon-nibianqitingji:before {
  content: '\e66f';
}

.icon-shengchanguanli:before {
  content: '\e66e';
}

.icon-quyu:before {
  content: '\e66d';
}

.icon-zhishu:before {
  content: '\e66c';
}

.icon-pcs:before {
  content: '\e66b';
}

.icon-jianxiu:before {
  content: '\e669';
}

.icon-taifeng:before {
  content: '\e66a';
}

.icon-baobiaochaxun:before {
  content: '\e665';
}

.icon-ribaobiao:before {
  content: '\e667';
}

.icon-yuebaobiao:before {
  content: '\e668';
}

.icon-baogao:before {
  content: '\e663';
}

.icon-PDF:before {
  content: '\e664';
}

.icon-DOC:before {
  content: '\e666';
}

.icon-jixiao:before {
  content: '\e65d';
}

.icon-shuai1:before {
  content: '\e65e';
}

.icon-fenjie:before {
  content: '\e65f';
}

.icon-bujian:before {
  content: '\e660';
}

.icon-sandiantu:before {
  content: '\e661';
}

.icon-zhutu:before {
  content: '\e662';
}

.icon-yunhang1:before {
  content: '\e65c';
}

.icon-daochu:before {
  content: '\e65b';
}

.icon-shuai:before {
  content: '\e657';
}

.icon-fengsu:before {
  content: '\e658';
}

.icon-guzhang:before {
  content: '\e659';
}

.icon-shichang:before {
  content: '\e65a';
}

.icon-xiaonengfenxi:before {
  content: '\e656';
}

.icon-qiye:before {
  content: '\e655';
}

.icon-datang-huanjingdaiming:before {
  content: '\e64c';
}

.icon-datang-dianwangguzhang:before {
  content: '\e64d';
}

.icon-datang-weizhi:before {
  content: '\e64e';
}

.icon-datang-jishudaiji:before {
  content: '\e64f';
}

.icon-datang-guzhangtingji:before {
  content: '\e650';
}

.icon-datang-fuwutingji:before {
  content: '\e651';
}

.icon-datang-xiangongshuai:before {
  content: '\e652';
}

.icon-datang-yonghutingji:before {
  content: '\e653';
}

.icon-datang-zhengchangfadian:before {
  content: '\e654';
}

.icon-a-zu19404:before {
  content: '\e64b';
}

.icon-xinhao1:before {
  content: '\e64a';
}

.icon-fanhui:before {
  content: '\e649';
}

.icon-xinhao:before {
  content: '\e648';
}

.icon-shouye-guanli:before {
  content: '\e647';
}

.icon-chuneng:before {
  content: '\e645';
}

.icon-yunhang:before {
  content: '\e646';
}

.icon-shouye:before {
  content: '\e644';
}

.icon-mark-on:before {
  content: '\e640';
}

.icon-mark-off:before {
  content: '\e641';
}

.icon-mima:before {
  content: '\e63e';
}

.icon-yonghuming:before {
  content: '\e63f';
}

.icon-guangfufenxi:before {
  content: '\e63c';
}

.icon-fadianliangduibi:before {
  content: '\e63d';
}

.icon-power:before {
  content: '\e638';
}

.icon-rate:before {
  content: '\e639';
}

.icon-time:before {
  content: '\e63a';
}

.icon-rank:before {
  content: '\e63b';
}

.icon-read:before {
  content: '\e637';
}

.icon-temp-pro:before {
  content: '\e636';
}

.icon-temp:before {
  content: '\e643';
}

.icon-limit:before {
  content: '\e642';
}

.icon-substation:before {
  content: '\e632';
}

.icon-downloading:before {
  content: '\e633';
}

.icon-limit-pro:before {
  content: '\e634';
}

.icon-user:before {
  content: '\e635';
}

.icon-table:before {
  content: '\e629';
}

.icon-start:before {
  content: '\e62a';
}

.icon-quxian:before {
  content: '\e62b';
}

.icon-pause:before {
  content: '\e62c';
}

.icon-edit:before {
  content: '\e62d';
}

.icon-quanbuqueren:before {
  content: '\e62e';
}

.icon-zhongzhimima:before {
  content: '\e62f';
}

.icon-del:before {
  content: '\e630';
}

.icon-add:before {
  content: '\e631';
}

.icon-success:before {
  content: '\e601';
}

.icon-error:before {
  content: '\e628';
}

.icon-kuaizhao:before {
  content: '\e627';
}

.icon-dianwang:before {
  content: '\e621';
}

.icon-tatong:before {
  content: '\e622';
}

.icon-bianjiang:before {
  content: '\e623';
}

.icon-fadianji:before {
  content: '\e624';
}

.icon-wtg:before {
  content: '\e625';
}

.icon-chilunxiang:before {
  content: '\e626';
}

.icon-failure:before {
  content: '\e619';
}

.icon-biaozhunmei:before {
  content: '\e61d';
}

.icon-eryanghuatan:before {
  content: '\e61e';
}

.icon-safe:before {
  content: '\e61f';
}

.icon-eryanghualiu:before {
  content: '\e620';
}

.icon-ready:before {
  content: '\e616';
}

.icon-service:before {
  content: '\e617';
}

.icon-limpwr:before {
  content: '\e618';
}

.icon-run:before {
  content: '\e61a';
}

.icon-stop:before {
  content: '\e61b';
}

.icon-unconnect:before {
  content: '\e61c';
}

.icon-pv:before {
  content: '\e614';
}

.icon-fan:before {
  content: '\e615';
}

.icon-download:before {
  content: '\e613';
}

.icon-small:before {
  content: '\e60e';
}

.icon-big:before {
  content: '\e60f';
}

.icon-set:before {
  content: '\e610';
}

.icon-mini:before {
  content: '\e611';
}

.icon-line:before {
  content: '\e612';
}

.icon-tongjifenxi:before {
  content: '\e600';
}

.icon-shishijiankong:before {
  content: '\e602';
}

.icon-shengchanyunhang:before {
  content: '\e603';
}

.icon-baojing:before {
  content: '\e604';
}

.icon-duibiaofenxi:before {
  content: '\e605';
}

.icon-baobiaoguanli:before {
  content: '\e606';
}

.icon-baojingguanli:before {
  content: '\e607';
}

.icon-xitongshezhi:before {
  content: '\e608';
}

.icon-shujuchaxun:before {
  content: '\e609';
}

.icon-nengliangguanli:before {
  content: '\e60a';
}

.icon-guzhangyujing:before {
  content: '\e60b';
}

.icon-xiandian:before {
  content: '\e60c';
}

.icon-guapai:before {
  content: '\e60d';
}
