/* @import './base.css'; */

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1366px;
  min-height: 768px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  user-select: none;
  font-family: Microsoft YaHei;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}
input {
  background-color: transparent;
}

/* // 滚动条整体宽度 */
::-webkit-scrollbar {
  width: 0;
  height: 10px;
}

/* // 滚动条背景 */
::-webkit-scrollbar-track {
  background: #999;
}

/*---滚动条凹槽--*/
::-webkit-scrollbar-track-piece {
  background: #999;
  border-radius: 20px;
}

/* // 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
}
/* // 滚动条滑块hover时颜色 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* // 滚动条滑块按住时颜色 */
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.3);
}

/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0);
}
